.panel {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  z-index: 2;
  color: #464646;
  font-size: 35px;
  margin: -190px 0 0 -280px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);

  i:hover {
    color: white;
    cursor: pointer;
  }
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
}
.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  height: 50%;
}

.zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow {
  font-size: 30px;
}

.zoomOptions {
  font-size: 25px;
}

