.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.confirm:focus {
  outline: 0;
}
.confirm:hover {
  color: #686868;
  background-color: white;
  cursor: pointer;
}

.confirm:visited {
  color: white;
}

.confirm:visited:hover {
  color: #686868;
  background-color: white;
  cursor: pointer;
}

