.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 5px;
  width: 698px;
  height: 520px;

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 698px;
    height: 520px;
    fill: #464646;

    path:hover {
      margin: 0;
      fill: grey;
      cursor: pointer;
    }
  }
}
