.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(128, 128, 128, 0);
  font-size: 20px;
  color: #464646;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(128, 128, 128, 0);
  font-size: 20px;
  color: white;

  &:hover {
    cursor: pointer;
  }
}
