.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 700px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;

    &:visited {
      color: #464646;
    }
  }

  i {
    color: #464646;
    font-size: 40px;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

