.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  height: 410px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120px;
  border-bottom: 1px solid white;

  img {
    width: 80px;
    border-radius: 5px;
  }
}

.content {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 18px;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 100%;

    div {
      display: flex;
      align-items: center;
      text-align: right;
    }

    i {
      margin-left: 5px;
    }
  }
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  color: white;
  font-size: 20px;
  border-top: 1px solid white;
}
